# Local development
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_ME
DB_DATABASE=sitedb
DB_SYNCHRONIZE=true

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:3000
